:root{
    --bg-color: #876445;
}
.dark-mode{
    --bg-color: black;
}

body {
    background-image: url("Coffee.co.png");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type:square;
    margin: 0;
    padding: 0;
    text-align: left;
}
  
nav ul li {
    display: inline;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

nav ul {
    list-style: none;
    cursor: pointer;
    float: right;
    margin-right: 140px;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'optimal', sans-serif;
    padding: 10px 10px;
    /* margin: top left; */
    font-weight: 400;
}

nav ul li:hover {
    border-bottom: 3px solid white;
    transition: all .3s ease;
}

nav ul li a {
    font-family: 'optimal', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* .item li{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    float: left;
} */

header{
    background: var(--bg-color);
    height: 40px;
    width: auto;
}

.logo{
font-weight:  bold;
float: left;
font-size : 20px;
color: white;
}

.tambah button{
    margin-top : 370px;
}

footer ul{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--bg-color);
    color: white;
    text-align: left;
    margin: auto;
}

.check-box{
    justify-content: center;
    display: flex;
    align-items: center;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

input[type="checkbox"]:checked ~ .check:before{
    transform: translateX(20px);
}

input[type="checkbox"]:checked ~ .check:before{
    background-color: #fff;
    box-shadow: 0 0 0 50000px #000;
}

.check:before,
.check:after {
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}

.check:before {
    background-color: #000;
    left: 2px;
}

.check {
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in, 
    box-shadow 0.5s ease-in;

    width: 40px;
}